<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PK Car Broker</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- Main Css -->
    <link rel="stylesheet" href="../public/css/main.css">
    <!-- Iconfont -->
    <link rel="stylesheet" href="../public/icon/icofont/icofont.min.css">
</head>

<body>
    <div class="container-fluid my-5">
        <h1 class="text-center">Admin Panel</h1>
        <div class="app-title">
            <div>
                <h1>
                    <i class="icofont-list"></i>
                    Appointment Lists
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="appointment-tab" data-toggle="pill" href="#appointment" role="tab" aria-controls="appointment" aria-selected="true">Appointments(Buyer)</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Appointments(Seller)</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <!-- Start Appointment (Buyer) -->
                            <div class="tab-pane fade show active" id="appointment" role="tabpanel" aria-labelledby="appointment-tab">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered" id="buyerTable">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Reference</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% var i = 1; %>
                                            <% buyerData.forEach(function(buyerAppointment){ %>
                                            <tr>
                                                <td>
                                                    <%= i++ %>
                                                </td>
                                                <td>
                                                    <%= buyerAppointment.name %>
                                                </td>
                                                <td>
                                                    <%= buyerAppointment.phone %>
                                                </td>
                                                <td>
                                                    <%= buyerAppointment.ref %>
                                                </td>
                                                <td>
                                                    <%= buyerAppointment.status %>
                                                </td>
                                                <td>
                                                  <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#buyerAppointmentDetail" title="Detail">
                                                        Detail
                                                    </button>
                                                    <a href="updatebappointment/<%= buyerAppointment.doc_id %>" class="btn btn-outline-warning" title="Edit">
                                                        Edit
                                                    </a>
                                                    <form class="d-inline-block" onsubmit="return confirm('Are you sure want to delete?')" method="POST" action="">
                                                        <input type="hidden" name="id" value="">
                                                        <button class="btn btn-danger" title="Delete">
                                                          Delete
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- End Appointment (Buyer) -->
                            <!-- Start Appointment (Seller) -->
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered" id="sellerTable">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Reference</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% var i = 1; %>
                                            <% sellerData.forEach(function(sellerAppointment){ %>
                                            <tr>
                                                <td>
                                                  <%= i++ %>
                                                </td>
                                                <td>
                                                  <%= sellerAppointment.name %>
                                                </td>
                                                <td>
                                                  <%= sellerAppointment.phone %>
                                                </td>
                                                <td>
                                                  <%= sellerAppointment.ref %>
                                                </td>
                                                <td>
                                                  <%= sellerAppointment.status %>
                                                </td>
                                                <td>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#sellerAppointmentDetail">
                                                      Detail
                                                    </button>
                                                    <a href="updatesappointment/<%= sellerAppointment.doc_id %>" class="btn btn-outline-warning" title="Edit">
                                                      Edit
                                                    </a>
                                                    <form class="d-inline-block" onsubmit="return confirm('Are you sure want to delete?')" method="POST" action="">
                                                        <input type="hidden" name="id" value="">
                                                        <button class="btn btn-danger" title="Delete">
                                                            Delete
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- End Appointment (Seller) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="../public/js/jquery-3.3.1.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/plugins/jquery.dataTables.min.js"></script>
    <script src="../public/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
    $('#sellerTable, #buyerTable').DataTable();
    $('table.display').DataTable();
    </script>
</body>

</html>
<!-- Buyer Appointment Detail Modal -->
<div class="modal fade" id="buyerAppointmentDetail" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ref no - <%= buyerAppointment.model %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">Name</dt>
                    <dd class="col-sm-9"><%= buyerAppointment.name %></dd>
                    <dt class="col-sm-3">Vehicle</dt>
                    <dd class="col-sm-9">
                        <dl class="row">
                            <dt class="col-sm-2">Brand</dt>
                            <dd class="col-sm-10"><%= buyerAppointment.brand %></dd>
                            <dt class="col-sm-2">Model</dt>
                            <dd class="col-sm-10"><%= buyerAppointment.model %></dd>
                        </dl>
                    </dd>
                    <dt class="col-sm-3">Phone</dt>
                    <dd class="col-sm-9"><%= buyerAppointment.phone %></dd>
                    <dt class="col-sm-3">Location</dt>
                    <dd class="col-sm-9"><%= buyerAppointment.location %></dd>
                    <dt class="col-sm-3">Date</dt>
                    <dd class="col-sm-9"><%= buyerAppointment.date %></dd>
                    <dt class="col-sm-3">Time</dt>
                    <dd class="col-sm-9"><%= buyerAppointment.time %></dd>  
                    <dt class="col-sm-3">Message</dt>
                    <dd class="col-sm-9"><%= buyerAppointment.message %></dd>
                    <dt class="col-sm-3">Status</dt>
                    <dd class="col-sm-9"><%= buyerAppointment.status %></dd>      
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Seller Appointment Detail Modal -->
<div class="modal fade" id="sellerAppointmentDetail" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Reseller.name %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">Name</dt>
                    <dd class="col-sm-9"><%= sellerAppointment.name %></dd>
                    <dt class="col-sm-3">Vehicle</dt>
                    <dd class="col-sm-9">
                        <dl class="row">
                            <dt class="col-sm-2">Brand</dt>
                            <dd class="col-sm-10"><%= sellerAppointment.vBrand %></dd>
                            <dt class="col-sm-2">Year</dt>
                            <dd class="col-sm-10"><%= sellerAppointment.vYear %></dd>
                            <dt class="col-sm-2">Model</dt>
                            <dd class="col-sm-10"><%= sellerAppointment.vModel %></dd>
                            <dt class="col-sm-2">Kilo</dt>
                            <dd class="col-sm-10"><%= sellerAppointment.vKilo %></dd>
                            <dt class="col-sm-2">Condition</dt>
                            <dd class="col-sm-10"><%= sellerAppointment.vCondition %></dd>
                            <dt class="col-sm-2">Description</dt>
                            <dd class="col-sm-10"><%= sellerAppointment.vDescription %></dd>
                            <dt class="col-sm-2">Cost</dt>
                            <dd class="col-sm-10"><%= sellerAppointment.vCost %></dd>
                        </dl>
                    </dd>
                    <dt class="col-sm-3">Phone</dt>
                    <dd class="col-sm-9"><%= sellerAppointment.phone %></dd>
                    <dt class="col-sm-3">Location</dt>
                    <dd class="col-sm-9"><%= sellerAppointment.location %></dd>
                    <dt class="col-sm-3">Date</dt>
                    <dd class="col-sm-9"><%= sellerAppointment.date %></dd>
                    <dt class="col-sm-3">Time</dt>
                    <dd class="col-sm-9"><%= sellerAppointment.time %></dd>  
                    <dt class="col-sm-3">Message</dt>
                    <dd class="col-sm-9"><%= sellerAppointment.message %></dd>
                    <dt class="col-sm-3">Status</dt>
                    <dd class="col-sm-9"><%= sellerAppointment.status %></dd>      
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

